* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
header {
  background-color: rgb(42, 42, 190);
  padding: 15px 25px;
  margin-bottom: 20px;
}
header nav ul {
  display: flex;
  gap: 20px;
}
header nav ul li a {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
header nav ul li a.active {
  color: #26ff74;
}
.add-product {
  padding: 0 20px;
}
.add-product form input {
  border: 1px solid #ccc;
  padding: 10px 15px;
  outline: none;
}
.add-product form button {
  padding: 10px 15px;
  border: none;
  background-color: rgb(42, 42, 190);
  color: #fff;
  cursor: pointer;
}
.main-section {
  padding: 0 30px;
}
.main-section .d-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-section .d-flex .box {
  box-shadow: 2px 0px 17px 2px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  color: #000;
  padding: 15px 20px;
  width: 20%;
  margin-top: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.main-section .d-flex .box h1 {
  text-align: center;
  font-size: 23px;
}
.main-section .d-flex .box .image-box img {
  width: 100%;
}
.main-section .d-flex .box h6 {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}
