<%- include('includes/head.ejs') %>
    <body>
        <%- include('includes/header.ejs') %>
        <main class="add-product">
            <form action="/admin/add-product" method="POST">
                <input type="text" name="title" placeholder="product name...">
                <button type="submit"> Add product</button>
            </form>
        </main>
    </body>
</html>